<div class="broccoli-field-table">
    <input type="hidden" name="{{ modName }}__editor" value="" />
    <input type="hidden" name="{{ modName }}__header_row" value="" />
    <input type="hidden" name="{{ modName }}__header_col" value="" />
    <input type="hidden" name="{{ modName }}__renderer" value="" />
    <input type="hidden" name="{{ modName }}__cell_renderer" value="" />

    <div class="broccoli-field-table__html-editor">
        <textarea name="{{ modName }}__output" class="px2-input"></textarea>
    </div>

    <div class="px2-text-align-right">
        <p><a href="javascript:;" class="px2-a broccoli-field-table__change-to-xlsx-mode">Excel編集に切り替える</a></p>
    </div>
</div>
